@charset "UTF-8";

@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.event_container {
	width: 800px;
	height: 1200px;
	margin: 30px auto;
}

.Eventimg {
	width: 200px;
	height: 30px;
	padding: 10px 5px 10px;
	margin: 5px;
	border: 1px solid #DAD9FF;
}