@charset "UTF-8";

 *:focus { outline:none; }

#reviewTable{
	background-color: white;
	margin-top : 20px;
	margin-left : 340px;
	width: 1200px;
	height: 400px;
}


#review_button1{
	background-color: white;
	height : 45px;
	width: 50%;
	border : 0.5px solid #F9F9FA; 
	text-align: center;
	font-family: '배달의민족 한나체 Pro', '배달의민족한나체Pro';
	font-size: 20px;
}

#review_button2{
	background-color: white;
	height : 45px;
	width: 50%;
	border : 0.5px solid #F9F9FA; 
	text-align: center;
	font-family: '배달의민족 한나체 Pro', '배달의민족한나체Pro';
	font-size: 20px;
}

#review_button1:hover {
	border : 0.5px solid #F9F9FA; 
	background-color: #38BCC6;
}

#review_button1:link {
	border : 0.5px solid #F9F9FA; 
	background-color: #38BCC6;
}


#review_button2:hover {
	border : 0.5px solid #F9F9FA; 
	background-color: #38BCC6;
}

#review_button:after {
border : 0.5px solid #F9F9FA; 
	outline: 0;
	
}

.ellipsis {
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  overflow:hidden;
}