<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fo">
<select id="seq" resultType="Integer">
	SELECT foodorder_seq.NEXTVAL FROM dual
</select>

<!-- 글보기 -->
<select id="orderComplete" parameterType="map" resultType="com.bd.foodorder.FoodOrder">
    SELECT f.foodOrderNum, TO_CHAR(foodOrderDate,'YY-MM-DD HH:MI') foodOrderDate,
		   foodOrderTotalPrice, foodOrderAddr, foodOrderHowPay,
		   foodOrderPay, TO_CHAR(foodOrderPayCompletionDate,'YY-MM-DD HH:MI') foodOrderPayCompletionDate,
		   foodOrderCompletionDate,memo,f.userIdx, o.menuNum,orderOnePrice,qty,f.restaurantsNum,rm.menuName
	FROM foodorder f 
    JOIN user1 u ON f.userIdx = u.userIdx
    JOIN orderdetail o ON f.foodorderNum = o.foodorderNum
    JOIN restaurants r ON f.restaurantsNum = r.restaurantsNum
    JOIN restaurantMenu rm ON o.menuNum = rm.menuNum
    WHERE f.restaurantsNum = #{restaurantsNum} AND INSTR(foodOrderState , #{foodOrderState}) =1
</select>


<select id="orderCount" parameterType="map" resultType="Integer">
 SELECT COUNT(foodOrderState) FROM foodorder f
 JOIN orderdetail o ON f.foodorderNum = o.foodorderNum
 WHERE INSTR(foodOrderState , #{foodOrderState}) =1 AND restaurantsNum = #{restaurantsNum}
</select>


</mapper>