<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

<!-- 회원정보 -->
<select id="readMypage" parameterType="Integer" resultType="com.bd.mypage.Mypage">
	SELECT u1.userIdx, userId, userName, TO_CHAR(birth, 'YYYY-MM-DD') birth,
	tel, email, zip, addr1, addr2, TO_CHAR(created_date, 'YYYY-MM-DD') created_date
	FROM user1 u1
	LEFT OUTER JOIN user2 u2 ON u1.userIdx = u2.userIdx
	WHERE u1.userIdx = #{userIdx}
</select>

<!-- 회원정보수정 -->
<update id="updateuser1" parameterType="com.bd.mypage.Mypage">
	UPDATE user1 SET userName=#{userName}, userPwd=#{userPwd}
	WHERE userIdx = #{userIdx}
</update>
	
<update id="updateuser2" parameterType="com.bd.mypage.Mypage">
	UPDATE user2 SET birth=#{birth}, email=#{email}, tel=#{tel}, zip=#{zip},
	addr1=#{addr1}, addr2=#{addr2}, longitude=#{longitude}, latitude=#{latitude}
	WHERE userIdx = #{userIdx}
</update>

<!-- 비밀번호 체크 -->
<select id="checkPwd" parameterType="map" resultType="Integer">
	SELECT COUNT(*)
	FROM user1
	WHERE userIdx = #{userIdx} AND userPwd = #{userPwd}
</select>

</mapper>