<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

<!-- 회원정보 -->
<select id="readMypage" parameterType="Integer" resultType="com.bd.mypage.Mypage">
	SELECT u1.userIdx, userId, userPwd, userName, TO_CHAR(birth, 'YYYY-MM-DD') birth,
	tel, email, zip, addr1, addr2, TO_CHAR(created_date, 'YYYY-MM-DD') created_date
	FROM user1 u1
	LEFT OUTER JOIN user2 u2 ON u1.userIdx = u2.userIdx
	WHERE u1.userIdx = #{userIdx}
</select>

<!-- 회원정보수정 -->
<update id="updateuser1" parameterType="com.bd.mypage.Mypage">
	UPDATE user1 SET userName=#{userName}, userPwd=#{userPwd}
	WHERE userIdx = #{userIdx}
</update>
	
<update id="updateuser2" parameterType="com.bd.mypage.Mypage">
	UPDATE user2 SET birth=#{birth}, email=#{email}, tel=#{tel}, zip=#{zip},
	addr1=#{addr1}, addr2=#{addr2}, longitude=#{longitude}, latitude=#{latitude}
	WHERE userIdx = #{userIdx}
</update>

<select id="dataCount" parameterType="map" resultType="Integer">
	SELECT NVL(COUNT(*),0)
	FROM foodorder f
	JOIN user1 u1 ON f.userIdx = u1.userIdx
	LEFT OUTER JOIN orderdetail o ON f.foodorderNum = o.foodorderNum
    LEFT OUTER JOIN restaurantMenu rm ON o.menuNum = rm.menuNum
    LEFT OUTER JOIN restaurantsInfo ri ON ri.restaurantsNum = f.restaurantsNum
    WHERE u1.userIdx = #{userIdx}
</select>

<!-- 주문내역 -->
<select id="orderList" parameterType="map" resultType="com.bd.mypage.Mypage">
	SELECT f.foodOrderNum, TO_CHAR(foodOrderDate,'YY-MM-DD HH:MI') foodOrderDate,
		   foodOrderTotalPrice, qty , f.restaurantsNum, menuName, mutualName
	FROM foodorder f 
    JOIN user1 u ON f.userIdx = u.userIdx
    LEFT OUTER JOIN orderdetail o ON f.foodorderNum = o.foodorderNum
    LEFT OUTER JOIN restaurantMenu rm ON o.menuNum = rm.menuNum
    JOIN restaurantsInfo ri ON ri.restaurantsNum = f.restaurantsNum
    WHERE u.userIdx = #{userIdx}
    ORDER BY f.foodOrderNum DESC
	OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
</select>

<!-- 리뷰 작성 확인 -->
<select id="checkReview" parameterType="map" resultType="Integer">
	SELECT COUNT(*) FROM review WHERE restaurantsNum=#{restaurantsNum} AND foodOrderNum=#{foodOrderNum} AND userIdx=#{userIdx}
</select>

</mapper>