<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rc">
	<sql id="search-list">
		<choose>
			<when test="category=='any'">
				(INSTR(subject,#{key})&gt;0
					OR
				DBMS_LOB.INSTR(content,#{key})&gt;0
				)
			</when>
			<when test="category=='created'">
				(TO_CHAR(created,'YYYY-MM-DD') = #{key}
					OR
				 TO_CHAR(created,'YYYYMMDD') = #{key}
				)
			</when>
			<when test="category=='content'">
				DBMS_LOB.INSTR(content,#{key}) &gt; 0
			</when>
			<otherwise>
				INSTR(${category},#{key})&gt;0
			</otherwise>
		</choose>
	</sql>
	
	<select id="seq" resultType="Integer">
		SELECT recommendboard_seq.NEXTVAL FROM dual
	</select>
	<insert id="insertRecommend" parameterType="com.bd.recommend.Recommend">
		INSERT INTO recommendBoard(num, userIdx, userId, userName, subject, content, hitCount, created)
							VALUES(#{num}, #{userIdx}, #{userId}, #{userName}, #{subject},#{content}, 0, SYSDATE)
	</insert>
	<insert id="insertFile" parameterType="com.bd.recommend.Recommend">
		INSERT INTO recommendBoardFile(fileNum, num, saveFilename, originalFilename, fileSize) VALUES(recommendboardfile_seq.NEXTVAL, #{num}, #{saveFilename}, #{originalFilename}, #{fileSize})
	</insert>
	
	<select id="listRecommend" parameterType="map" resultType="com.bd.recommend.Recommend">
		SELECT r.num, r.userId, subject, hitCount, TO_CHAR(r.created,'YYYY-MM-DD') created, r.userName, NVL(replyCount,0) replyCount
		FROM recommendboard r
		JOIN user1 m ON r.userIdx = m.userIdx
		LEFT OUTER JOIN(
			SELECT num, COUNT(*) replyCount FROM recommendBoardReply
			GROUP BY num
		) c ON r.num=c.num
		<where>
			<if test="key!=null and key!=''">
				<include refid="search-list"/>
			</if>
		</where>
		ORDER BY r.num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{shownum} ROWS ONLY
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM recommendBoard r
		JOIN user1 u ON r.userId = u.userId
		<where>
			<if test="key!=null and key!=''">
				<include refid="search-list"/>
			</if>
		</where>
	</select>
</mapper>